@use "foundation/mixin";
@use "foundation/function";
@use "foundation/variables";

//画像の余白初期化
.wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
    margin-bottom: 0;
}

//ギャラリー一覧
.wp-block-gallery.has-nested-images {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(9.1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    @include mixin.media("tab") {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    @include mixin.media("pc") {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

//引用
.wp-block-quote {
    background-color: #f5f5f5;
    padding: 30px 20px;
    @include mixin.media("tab") {
        padding: 50px;
    }
    @include mixin.media("pc") {
        padding: 50px;
    }
    cite {
        display: inline-block;
        padding-top: 30px;
        quotes: "" "";
    }
}

//ボタン
.wp-block-button {
    height: 10rem;
    width: 100%;
    text-align: center;
    @include mixin.media("tab") {
        width: 430px;
    }
}
.wp-block-button__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    line-height: 10rem;
}


//テーブル
.wp-block-table tbody {
    margin-top: 60px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    td {
        border: 1px solid #707070;
        height: 77px;
        padding-left: 30px;
    }
    td:first-of-type {
        width: 30%;
    }
    td:nth-of-type(2) {
        width: 70%;
    }
}

//コード
.wp-block-code {
    background-color: #f5f5f5;
    height: 240px;
    display: flex;
    align-items: center;
}
