@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";


.c-btn--header {
    //left            : 85%; //308 / 375//
    @include mixin.btn-reset;
    font-family     : "Roboto", sans-serif;
    display         : inline-block;
    position        : absolute;
    top             : 3%;
    left            :function.svw(325);
    color           : #707070;
    font-size       : 20px;
    @include mixin.media("tab") {
        font-size: 34px;
        left     : function.tvw(722);
    }
    @include mixin.media("pc") {
        display: none;
    }
}

.c-btn--menu {
    @include mixin.btn-reset;
    display : inline-block;
    width   : 32px;
    height  : 32px;
    position: absolute;
    top     : 3%;
    left    : function.svw(290);
    @include mixin.media("tab"){
        left:function.tvw(310);
    }
    @include mixin.media("pc") {
        display: none;
    }
}


.c-btn--card--archive {
    border: none;
    //position: absolute;
    top:75%;
    left: calc(50% - 82.5px);
    width: 165px;
    height: 44px;
    color: #707070;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 30% / 100%;
    @include mixin.media("tab") {}
    @include mixin.media("pc") {
        top: 80%;
    }
}