@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";
@use "sass:math";

.c-img--card--archive {
    display        : inline-block;
    object-fit     : cover;
    object-position: left;
    width          : 100%;
    height         : 40%;
    @include mixin.media("tab") {
        object-fit     : cover;
        object-position: left ;
        width          : 50%;
        height         : 100%;
    }
    @include mixin.media("pc") {
        width     : 50%;
        height    : 100%;
        min-height: 100%;
        //height: auto;
    }
}
