@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.c-text--page {
    display: none;
    @include mixin.media("tab") {
        display: inline-block;
        @include mixin.font-roboto;
        font-size   : 1.6rem;
        margin-right: 5px;
        line-height : 35px;
    }
}
