@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";
@use "sass:math";


.c-title--header {
    @include mixin.font-roboto;
    display   : inline-block;
    margin-top: 40px;
    font-size : 40px;
    @include mixin.media("pc") {
        font-size  : 64px;
        margin-left: 65px;
        margin-top : 0;
    }
}

.c-title--sidebar {
    display: none;
    @include mixin.media("pc") {
        @include mixin.font-roboto;
        font-size  : 34px;
        display    : inline-block;
        //margin-left: 46px;
        margin-left: 40px;
        margin-top : 82px;
    }
}

.c-title--menu {
    list-style : none;
    font-weight: bold;
    color      : #707070;
    font-size  : 24px;
    //margin-left: 46px;
    margin-top : 85px;
}

.c-title--box--front {
    color       : white;
    font-size   : 3.6rem;
    font-weight : bold;
    padding-left: function.svw(25);
    @include mixin.media("tab") {
        padding-left: function.tvw(86);
    }
    @include mixin.media("pc") {
        font-size   : 4rem;
        padding-left: function.pvw(87);
        //padding-left: 85px;
    }
}

.c-title--card--front {
    font-family : "Roboto", sans-serif;
    color       : white;
    padding-left: 10px;
    padding-top : 12px;
    font-size   : 4.1rem;
    @include mixin.media("tab") {
        font-size: 4.4rem;
    }
    @include mixin.media("pc") {
        font-size: 8rem;
    }
}

.c-title--card__item--front {
    text-align : left;
    color      : #3C2A10;
    font-size  : 2.2rem;
    font-weight: bold;
    margin-top : 20px;
    margin-left:10px;
    @include mixin.media("tab") {
        font-size: 2.4rem;
    }
    @include mixin.media("pc") {
    }
}

.c-title--map{
    position   : relative;
    text-align : left;
    color      : white;
    font-size  : 3.6rem;
    font-weight: bold;
    margin-top : 40px;
    @include mixin.media("tab") {}
    @include mixin.media("pc") {
        margin-top: 85px;
    }
}

.c-title--map__border--white{
    text-align      : left;
    width           : 74px;
    height          : 2px;
    background-color: white;
    margin-top      : 20px;
    @include mixin.media("tab") {}
    @include mixin.media("pc") {
        margin-top: 40px;
    }

}

.c-title--footer__text__shop{
    display  : inline-block;
    position : absolute;
    top      : calc(40px - 1rem);
    color    : white;
    font-size: 2rem;
}
.c-title--footer__text__info{
    display  : inline-block;
    position : absolute;
    top      : calc(100px - 0.7rem);
    color    : white;
    font-size: 1.4rem;
}

.c-title--box--archive {
    font-family: "Roboto", sans-serif;
    font-size  : 3.6rem;
    @include mixin.media("tab") {
        font-size   : 6rem;
        margin-right: 20px;
    }
    @include mixin.media("pc") {}
}

.c-title--box__text--archive {
    font-size  : 1.6rem;
    font-weight: bold;
    @include mixin.media("tab") {}
    @include mixin.media("pc") {}
}

.c-title--description--archive {
    font-size    : 2.8rem;
    font-weight  : bold;
    @include mixin.media("tab") {
        font-size: 3.6rem;
    }
    @include mixin.media("pc") {}
}

.c-title--card__menu--archive {
    text-align : left;
    color      : white;
    font-weight: bold;
    font-size  : 2.0rem;
    @include mixin.media("tab") {
    }
    @include mixin.media("pc") {
        font-size  : 3.6rem;
    }
}

.c-title--card__text--archive {
    text-align : left;
    margin-top : 30px;
    color      : white;
    font-weight: bold;
    font-size  : 1.6rem;
    @include mixin.media("tab") {
    }
    @include mixin.media("pc") {
        font-size  : 2.4rem;
    }
}

.c-title--box {
    color       : white;
    font-size   : 3.6rem;
    font-weight : bold;
    padding-left: function.svw(25);
    @include mixin.media("tab") {
        padding-left: function.tvw(86);
        font-size   : 6rem;
    }
    @include mixin.media("pc") {
        font-size   : 6rem;
        padding-left: function.pvw(87);
        //padding-left: 85px;
    }
}

.c-title--article__heading {
    color      : #3C2A10;
    font-weight: bold;
}