@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";


.u-margin--card--front {
    margin: 20px 0;
    @include mixin.media("tab") {
        margin: 40px 0;
 }
    @include mixin.media("pc") {
       margin: 111px 0;
   }
}

.u-margin__map{
    margin-left: function.svw(40);
    @include mixin.media("tab") {
        margin-left: function.tvw(40);
 }
    @include mixin.media("pc") {
       margin-left: function.pvw(135);
   }
}

.u-margin-card--archive {
    margin-top   : 10px;
    margin-bottom: 10px;
    margin-left  : function.svw(10);
    margin-right : function.svw(10);
    @include mixin.media("tab") {
        margin-top   : 10px;
        margin-bottom: 10px;
        margin-left  : function.tvw(35);
        margin-right : function.tvw(35);
    }
    @include mixin.media("pc") {
        margin-top   : 15px;
        margin-bottom: 15px;
        margin-left  : function.pvw(100);
        margin-right : function.pvw(100);
    }
}

.u-margin--pagination__list {
    li:not(.p-pagination__unit) {
        margin-left : 7.5px;
        margin-right: 7.5px;
    }
}

.u-margin--article {
    margin-top   : 40px;
    margin-bottom: 40px;
    margin-left  : 20px;
    margin-right : 20px;
    //margin-left  : function.svw(10);
    //margin-right : function.svw(10);
    @include mixin.media("tab") {
        margin-top   : 70px;
        margin-bottom: 70px;
        margin-left  : 60px;
        margin-right : 60px;
        //margin-left  : function.tvw(35);
        //margin-right : function.tvw(35);
    }
    @include mixin.media("pc") {
        margin-top   : 70px;
        margin-bottom: 70px;
        margin-left  : 100px;
        margin-right : 100px;
        //margin-left  : function.pvw(100);
        //margin-right : function.pvw(100);
    }
}