@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-box--front {
    display            : flex;
    align-items        : center;
    width              : function.svw(375);
    height             : 285px;
    background-image   : url(../../../img/front-page/front-page_main_title_img_sp2.jpg);
    background-position: center center;
    background-size    : cover;
    @include mixin.media("tab") {
        background-image: url(../../../img/front-page/front-page_main_title_img_pc1.jpg);
        width           : function.tvw(834);
        height          : 285px;
    }
    @include mixin.media("pc") {
        width : function.pvw(1553);
        height: 530px;
    }
}

.p-box--archive {
    position             : relative;
    width                : function.svw(375);
    height               : 285px;
    background-image     : url(../../../img/archive/archive_main_title_img_sp.png);
    background-position  : left 45%;
    background-size      : 200%;
    //background-attachment: fixed;
    @include mixin.media("tab") {
        width              : function.tvw(834);
        height             : 285px;
        background-position: center center;
        background-size    : 100%;
    }
    @include mixin.media("pc") {
        width           : function.pvw(1553);
        height          : 240px;
        background-image: url(../../../img/archive/archive_main_title_img_pc.png);
    }
    &::before{
        content         : "";
        position        : absolute;
        top             : 0;
        left            : 0;
        z-index         : 10;
        width           : function.svw(375);
        height          : 285px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        @include mixin.media("tab") {
            width : function.tvw(834);
            height: 285px;
        }
        @include mixin.media("pc") {
            width : function.pvw(1553);
            height: 240px;
        }
    }
}

.p-box__title--archive{
    position             : absolute;
    top                  : calc(50% - 50px);
    left                 : function.svw(25);
    z-index              : 11;
    color                : white;
    display              : flex;
    flex-direction       : column;
    @include mixin.media("tab"){
        flex-direction     : row;
        align-items        : center;
        left               : function.tvw(86);
    }
    @include mixin.media("pc"){
        left: function.pvw(87);
    }
}

.p-box--single{
    display            : flex;
    align-items        : center;
    width              : function.svw(375);
    height             : 285px;
    background-image   : url(../../../img/single/single_main_title_img.jpg);
    background-repeat: no-repeat;
    //background-position: center center;
    background-position: center 40%;
    //background-size    : cover;
    background-size: 130%;
    @include mixin.media("tab") {
        //background-image: url(../../../img/front-page/front-page_main_title_img_pc1.jpg);
        width           : function.tvw(834);
        height: 500px;
        background-size: 180%;
        background-position: center 40%;
    }
    @include mixin.media("pc") {
        width : function.pvw(1553);
        height: 500px;
        background-size: 100%;
        background-position: center center;
    }
}

.p-box--page{
    display            : flex;
    align-items        : center;
    width              : function.svw(375);
    height             : 285px;
    background-image   : url(../../../img/page/page_main_title_img_pc1.jpg);
    background-repeat: no-repeat;
    //background-position: center center;
    background-position: center 40%;
    //background-size    : cover;
    background-size: 130%;
    @include mixin.media("tab") {
        //background-image: url(../../../img/front-page/front-page_main_title_img_pc1.jpg);
        width           : function.tvw(834);
        height: 500px;
        background-size: 180%;
        background-position: center 40%;
    }
    @include mixin.media("pc") {
        width : function.pvw(1553);
        height: 500px;
        background-size: 100%;
        background-position: center center;
    }
}