@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-description--archive {
    padding   : 30px function.svw(22);
    width     :function.svw(335);
    min-height: 395px;
    height    : auto;
    color     : #3C2A10;
    @include mixin.media("tab") {
        width     :function.tvw(756);
        min-height: 292px;
    }
    @include mixin.media("pc") {
        width :function.pvw(1553);
        min-height: 216px;
    }
}

.p-description__text--archive {
    overflow-x: hidden;
    margin-top: 30px;
    min-height: 265px;
    height    : auto;
    font-size : 1.6rem;
    @include mixin.media("tab") {
        min-height: 145px;
    }
    @include mixin.media("pc") {
        min-height: 70px;
    }
}
