@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-pagination {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    height         : 35px;
    margin-top     : 145px;
    margin-bottom  : 60px;
}

.p-pagination__item {
    @include mixin.font-roboto;
    font-size   : 1.6rem;
    margin-right: 20px;
    line-height : 35px;
}

.p-pagination__list {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    list-style     : none;
    li:not(.p-pagination__unit) {
        width           : 35px;
        height          : 35px;
        border          : 1px solid #707070;
        line-height     : 35px;
        text-align      : center;
        @include mixin.font-roboto;
        font-size       : 1.6rem;
        background-color: white;
    }
    li:nth-of-type(2){
        color: white;
        background-color: #3C2B1C;
    }
}

.p-pagination__unit {
    height        : auto;
    width         : 17px;
    display       : flex;
    flex-direction: row;
    align-items: center;
    div:last-of-type {
        position: relative;
        left    : -2px;
        z-index : 1;
        //transform: translateY(-50%);
    }
}
