@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-pagination {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    height         : 35px;
    margin-top     : 145px;
    margin-bottom  : 60px;
    margin-left    : function.svw(10);
    margin-right   : function.svw(10);
}

