@use "../../foundation/mixin";
@use "../../foundation/function";
@use "../../foundation/variables";

.p-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: 145px;
    margin-bottom: 60px;
    margin-left  : function.svw(10);
    margin-right : function.svw(10);
}

/*
Default style for WP-PageNavi plugin
http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
    line-height :35px;
    height: 35px;
    clear: both;
    font-size: 1.6rem;
    display: grid;
    justify-content:space-between;
    width: 100%;
    @include mixin.media("tab") {
        display: flex;
        align-items: center;
        width: auto;
    }
    .pages {
        display: none;
        @include mixin.media("tab") {
            margin-right: 50px;
            display: inline-block;
            //vertical-align: middle;
        }
    }
    span {
        display: none;
        @include mixin.media("tab") {
            display: inline-block;
            @include mixin.font-roboto;
            margin: 2px 6px;
            line-height: 35px;
            text-decoration: none;
            //padding: 3px 5px;
            //margin-right: 20px;
            //border: 1px solid #bfbfbf;
            &.current {
                border-color: #000;
                font-weight: bold;
                color: white;
                background-color: #3c2b1c;
                width: 35px;
                height: 35px;
                display: inline-block;
                line-height: 35px;
                text-align: center;
            }
        }
    }
    .page {
        display: none;
        @include mixin.media("tab") {
            @include mixin.font-roboto;
            text-decoration: none;
            border: 1px solid #bfbfbf;
            //padding: 3px 5px;
            margin: 2px 6px;
            width: 35px;
            height: 35px;
            display: inline-block;
            line-height: 35px;
            text-align: center;
            &:hover {
                border-color: #000;
            }
        }
    }
    .previouspostslink {
        vertical-align: middle;
        margin: 2px 6px;
        display: inline-block;
        grid-column: 1/2;
        font-weight: normal;
        color: #707070;
        &::after{
            content: "前へ";
            @include mixin.media("tab") {
                display: none;
                content: "";
            }
        }
    }
    .nextpostslink {
        vertical-align: middle;
        margin: 2px 6px;
        display: inline-block;
        grid-column: 2/3;
        font-weight: normal;
        color: #707070;
        height: 35px;
        width: auto;
        &::before{
            content: "次へ";
            @include mixin.media("tab") {
                display: none;
                content: "";
            }
        }
    }
}

//.p-pagination__item {
//    @include mixin.font-roboto;
//    font-size: 1.6rem;
//    margin-right: 20px;
//    line-height: 35px;
//}

//.p-pagination__list {
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    list-style: none;
//    li:not(.p-pagination__unit) {
//        width: 35px;
//        height: 35px;
//        border: 1px solid #707070;
//        line-height: 35px;
//        text-align: center;
//        @include mixin.font-roboto;
//        font-size: 1.6rem;
//        background-color: white;
//    }
//    li:nth-of-type(2) {
//        color: white;
//        background-color: #3c2b1c;
//    }
//}

//.p-pagination__unit {
//    height: auto;
//    width: 17px;
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    div:last-of-type {
//        position: relative;
//        left: -2px;
//        z-index: 1;
//        //transform: translateY(-50%);
//    }
//}
