@use "../foundation/mixin";

.l-header {
    background-color: #fff7ef;
    width           : 100%;
    height          : 217px;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    position: relative;
    @include mixin.media("pc") {
        grid-row       : 1;
        grid-column    : 1/2;
        flex-direction : row;
        justify-content: space-between;
        align-items    : center;
    }
}
