@use "mixin";

:root {
	font-size: 62.5%;
}

html {
	height: 100%;
	font-weight: 500;
	//overflow-y: hidden;
}

body {
	min-width: 375px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	font-size: 1.4rem;
	//overflow-x: hidden;
	//position  : relative;
	//@include mixin.media("tab") {
	//overflow-x: inherit;
	//}
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		opacity: 0.6;
	}
}

//ul, ol {
//margin : 0;
//padding: 0;
//}

th {
	font-weight: normal;
}
